/* css for documentation page */
@import url("./utils/reset.css");
/* just for output cdn will be used after hosting and components are made*/
@import url("./library/inclusive-ui.css");

/* genral styles for documentation page */
:root{
    --font-poppins: "Poppins", sans-serif;
    --font-montserrat: 'Montserrat', sans-serif; 
}
/*setting default font-size to 16px*/
html{
    font-size: 62.5%;
    font-family: var(--font-montserrat)
}
body{
    color: var(--DARK-GRAY);
    font-size: 1.6rem;
    font-weight: 700;
    background: var(--LIGHT-BASE);
}
/*setting default font-size to 16px*/

/* desktop first media here*/
