@import url("./style-guide.css");

@import url("./components/avatar/avatar.css");
@import url("./components/alert/alert.css");
@import url("./components/badge/badge.css");
@import url("./components/images/image.css");
@import url("./components/input/input.css");
@import url("./components/button/button.css");
@import url("./components/text/text.css");
@import url("./components/list/list.css");
@import url("./components/navbar/navbar.css");
@import url("./components/rating/rating.css");

